<div class="flex-row">
    <div class="mr-20">
        <img class="img" src={{data?.Poster}}/>
    </div>
    <div class="ml-auto bold scroll">
        <p>Plot: {{data?.Plot}}</p>
        <p>Title: {{data?.Title}}</p>
        <p>Year: {{data?.Year}}</p>
        <p>Rated: {{data?.Rated}}</p>
        <p>Released: {{data?.Released}}</p>
        <p>Runtime: {{data?.Runtime}}</p>
        <p>Genre: {{data?.Genre}}</p>
        <p>Writer: {{data?.Writer}}</p>
        <p>Director: {{data?.Director}}</p>
        <p>Actors: {{data?.Actors}}</p>
        <p>Writer: {{data?.Writer}}</p>
        <p>Language: {{data?.Language}}</p>
        <p>Country: {{data?.Country}}</p>
        <p>Awards: {{data?.Awards}}</p>
        <p>Metascore: {{data?.Metascore}}</p>
        <p>imdbRating: {{data?.imdbRating}}</p>
        <p>imdbVotes: {{data?.imdbVotes}}</p>
        <p>imdbID: {{data?.imdbID}}</p>
        <p>Type: {{data?.Type}}</p>
        <p>DVD: {{data?.DVD}}</p>
        <p>BoxOffice: {{data?.BoxOffice}}</p>
        <p>Production: {{data?.Production}}</p>
        <p>Website: {{data?.Website}}</p>
        <p>Response: {{data?.Response}}</p>
        <div>
            Ratings: <span  *ngFor="let d of rating"> {{d.Source}}: ({{d.Value}})</span>
        </div>
    </div>
</div>