@import "primeng/resources/themes/nova/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  overflow: hidden;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close{
  filter: invert(30%) sepia(55%) saturate(2239%) hue-rotate(331deg) brightness(97%) contrast(101%);
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close{
  filter: invert(61%) sepia(10%) saturate(2920%) hue-rotate(77deg) brightness(97%) contrast(87%);
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close{
  filter: invert(75%) sepia(28%) saturate(6051%) hue-rotate(166deg) brightness(107%) contrast(96%);
}
.p-toast-message.p-toast-message-info{
  background: #DEF6FC!important;
  color: hsl(194, 93%, 35%)!important;
}
.p-toast-message.p-toast-message-success{
  background: #EBF4EC!important;
  color: #2D7738!important;
}
.p-toast{
  margin-left: 10px;
}
.p-inputtext {
  // border: 1.5px solid rgba(154, 159, 191, 0.2) !important;
  // height: 40px;
  // border-radius: 8px;
  // width: 40%;

}
.p-inputtext:focus {
  outline: aliceblue;
}
.round-status {
  width: 120px;
  padding: 0.23rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 20px;
  text-align: center;
}

.action-button:disabled {
  cursor: not-allowed;
}

.action-button.form-action-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  padding: 12px;
}


.p-sidebar-right {
  width: var(--slidebar-width) !important;
}


.page-content {
  padding: 12px;
}
.box-search{
  border: 1px solid rgba(154, 159, 191, 0.2);
  border-radius: 8px ;
  padding: 4px;
  width: 40%;
  background: #007AD9;
}


.box-search-focus {
  border-color: var(--app-primary-1) !important;
  box-shadow: var(--app-primary-1) !important;
}
.box-search-blur {
  border-color: rgba(154, 159, 191, 0.2) !important;
  box-shadow: none !important;
}
.box-search> .p-inputtext:focus{
  box-shadow: var(--app-primary-1) !important;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  body {
    --topbar-height: 56px
  }

  .page-content {
    padding: 4px;
  }
 .box-search{
  width: 100%;
}

}
